{% macro textbox(name, label, value='', hint, id, class, error) %}
  {% if not id %}
    {% set id = name.replace('.','-') %}
  {% endif %}
  <div class="form-group{% if error %} error{% endif %} {{ class }}" id="{{ name }}-wrapper">
    <label class="form-label" for="{{ id }}">
      {{ label }}
      {% if hint %}<span class="form-hint">{{ hint }}</span>{% endif %}
      {% if error %}<span class="error-message">{{ error }}</span>{% endif %}
    </label>
    <input id="{{ id }}" class="form-control" name="{{ name }}" value="{{ value }}" autocomplete="xxx.{{ name }}"/>
  </div>
{% endmacro %}

{% macro textarea(name, label, value='', id, class, error) %}
  {% if not id %}
    {% set id = name.replace('.','-') %}
  {% endif %}
  <div class="form-group{% if error %} error{% endif %} {{ class }}" id="{{ name }}-wrapper">
    <label class="form-label" for="{{ id }}">
      {{ label }}
      {% if error %}<span class="error-message">{{ error }}</span>{% endif %}
    </label>
    <textarea id="{{ id }}" class="form-control" name="{{ name }}" rows="5">{{ value }}</textarea>
  </div>
{% endmacro %}

{% macro date(name, label, value, id, class, error) %}
  <div id="form-group-asset_valuationDate" class="form-group form-date{% if error %} error{% endif %} {{ class }}">
    <fieldset>
      <legend class="form-label">{{ label }}</legend>
      <span class="error-message">{{ error }}</span>

      <div class="form-group form-group-day">
        <label for="asset_valuationDate_day"><span class="form-hint">DD</span></label>
        <input type="text"
               id="asset_valuationDate_day"
               class="form-control"
               name="{{ name }}_day"
               value="{{ value | splitPart('/', 0) }}"
               maxlength="2"
               autocomplete="dd" />
      </div>

      <div class="form-group form-group-month">
        <label for="asset_valuationDate_month">
          <span class="form-hint">MM</span>
        </label>
        <input type="text"
               id="asset_valuationDate_month"
               class="form-control"
               name="{{ name }}_month"
               value="{{ value | splitPart('/', 1) }}"
               maxlength="2"
               autocomplete="mm"/>
      </div>

      <div class="form-group form-group-year">
        <label for="asset_valuationDate_year">
          <span class="form-hint">YYYY</span>
        </label>
        <input type="text"
               id="asset_valuationDate_year"
               class="form-control"
               name="{{ name }}_year"
               value="{{ value | splitPart('/', 2) }}"
               maxlength="4"
               autocomplete="yyyy"/>
      </div>
    </fieldset>
  </div>
{% endmacro %}

{% macro addAnother(name, label, hint, addLabel='', values=[], error) %}
  <fieldset class="fieldset-group js-add-another" id="{{ name }}-wrapper">
    {% if values and values.length > 0 %}
      {% for value in values %}
        {{ textbox(name=name, label=label, hint=hint, value=value, id=(name + '-' + loop.index), class="form-group--compact", error=error) }}
      {% endfor %}
    {% else %}
      {{ textbox(name=name, label=label, hint=hint, value=value, id=(name + '-1'), class="form-group--compact", error=error) }}
    {% endif %}
    <a class="add-another-button" href="#">Add another {{ addLabel }}</a>
  </fieldset>
{% endmacro %}

{% macro addAnotherDropdown(name, label, hint, emptyLabel, addLabel='', values=[], options, error) %}
  <fieldset class="fieldset-group js-add-another" id="{{ name }}-wrapper">
    {% if values and values.length > 0 %}
      {% for value in values %}
        {{ dropdown(name=name, label=label, hint=hint, emptyLabel=emptyLabel, value=value, options=options, id=(name + '-' + loop.index), class="form-group--compact", error=error) }}
      {% endfor %}
    {% else %}
      {{ dropdown(name=name, label=label, hint=hint, emptyLabel=emptyLabel, value=value, options=options, id=(name + '-1'), class="form-group--compact", error=error) }}
    {% endif %}
    <a class="add-another-button" href="#">Add another {{ addLabel }}</a>
  </fieldset>
{% endmacro %}

{% macro yesNo(name, label, radioValue='no', error) %}
  <fieldset class="inline form-group form-group__checkbox-group" id="{{ name }}-wrapper">

    <legend class="form-label">{{ label }}</legend>

    <label class="block-label" for="{{ name }}-yes">
      <input id="{{ name }}-yes"
             type="radio"
             name="{{ name }}"
             value="Yes"
             {% if radioValue == 'yes' or radioValue == true %}checked="checked"{% endif %} />
      Yes
    </label>
    <label class="block-label" for="{{ name }}-no">
      <input id="{{ name }}-no"
             type="radio"
             name="{{ name }}"
             value="No"
             {% if radioValue == 'no' or radioValue == false or not radioValue %}checked="checked"{% endif %} />
      No
    </label>
  </fieldset>
{% endmacro %}

{% macro yesNoHidden(name, label, radioValue='no', revealFor="yes", error) %}
  {% if radioValue == 'Yes' or radioValue == true %}
    {% set yesno = 'Yes' %}
  {% else %}
    {% set yesno = 'No' %}
  {% endif %}
  <fieldset
    class="inline form-group form-group__checkbox-group form-group__radiohide js-radiohide"
    id="{{ name }}-wrapper"
    data-reveal-for="{{ revealFor }}">
    <legend class="form-label">{{ label }}</legend>

    <label class="block-label" for="{{ name }}-yes">
      <input id="{{ name }}-yes"
             type="radio"
             name="{{ name }}"
             value="Yes"
             {% if yesno == 'Yes' %}checked="checked"{% endif %} />
      Yes
    </label>
    <label class="block-label" for="{{ name }}-no">
      <input id="{{ name }}-no"
             type="radio"
             name="{{ name }}"
             value="No"
             {% if yesno == 'No' %}checked="checked"{% endif %} />
      No
    </label>

    <div class="js-radiohide-content">
      {{ caller() }}
    </div>

  </fieldset>


{% endmacro %}

{% macro dropdown(name, label, hint, emptyLabel, value, options, id, class, error) %}
  {% if not id %}
    {% set id = name.replace('.','-') %}
  {% endif %}
  <div class="form-group{% if error %} error{% endif %} {{ class }}" id="{{ name }}-wrapper">
    <label class="form-label" for="{{ id }}">
      {{ label }}
      {% if hint %}<span class="form-hint">{{ hint }}</span>{% endif %}
      {% if error %}<span class="error-message">{{ error }}</span>{% endif %}
    </label>
    <select id="{{ id }}" class="form-control" name="{{ name }}">
      {% if emptyLabel %}<option value="">{{ emptyLabel }}</option>{% endif %}
      {% for option in options  %}
        {% if option.label %}
          <option value="{{ option.value }}" {% if option.value == value %}selected="selected"{% endif %}>{{ option.label }}</option>
        {% else %}
          <option value="{{ option }}" {% if option == value %}selected="selected"{% endif %}>{{ option }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
{% endmacro %}

{% macro save(backUrl) %}
  <div class="button-bar">
    <button class="button button--save" type="submit">Save</button>
    <a class="button-link button--cancel js-button-cancel" href="{{ backUrl }}">Cancel</a>
  </div>
{% endmacro %}

{% macro errorPanel(errors) %}
  {% if errors %}
    <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
      <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
        Incomplete Information
      </h1>

      <ul class="error-summary-list">
        {% for name, item in errors %}
          <li>
            <a href="#{{ name }}-wrapper">{{ item }}</a></li>
        {% endfor %}
      </ul>

    </div>
  {% endif %}
{% endmacro %}

{% macro autocomplete(name, label, value, options, options_url, id, class, error) %}
  {% if not id %}
    {% set id = name.replace('.','-') %}
  {% endif %}
  <div class="form-group{% if error %} error{% endif %} {{ class }}" id="{{ name }}-wrapper">
    <label class="form-label" for="{{ id }}">
      {{ label }}
      {% if error %}<span class="error-message">{{ error }}</span>{% endif %}
    </label>

    {% if options %}
      <input
        id="{{ id }}"
        class="form-control autocomplete js-autocomplete"
        name="{{ name }}"
        value="{{ value }}"
        autocomplete="{{ name }}"
        data-options="{{ options | attributeArray | safe }}"
      />
    {% else %}
      <input
        id="{{ id }}"
        class="form-control autocomplete js-autocomplete"
        name="{{ name }}"
        value="{{ value }}"
        autocomplete="{{ name }}"
        data-options-url="{{ options_url }}"
      />
    {% endif %}
  </div>
{% endmacro %}

{% macro addAnotherAutocomplete(name, label, addLabel='', values=[], options, options_url, error) %}
  <fieldset class="fieldset-group js-add-another{% if error %} error{% endif %}" id="{{ name }}-wrapper">
    {% if values and values.length > 0 %}
      {% for value in values %}
        {{ autocomplete(name, label, value, options, options_url, id=(name + '-' + loop.index), class="form-group--compact") }}
      {% endfor %}
    {% else %}
      {{ autocomplete(name, label, value, options, options_url, id=(name + '-1'), class="form-group--compact") }}
    {% endif %}
    <a class="add-another-button" href="#">Add another {{ addLabel }}</a>
  </fieldset>
{% endmacro %}

{% macro address(name, value, label='Address', optionalNonUk='no', optional='no', error) %}

  {% if error.message %}
    <span class="error-message">{{ error.message }}</span>
  {% endif %}
  {% if error.country %}
    error.country: {{ error.country }}
  {% endif %}
  {% if error.country %}
    {% set countryClass = 'form-group--incomplete'%}
  {% else %}
    {% set countryClass = ''%}
  {% endif %}
  {% if error.address1 %}
    {% set address1Class = 'form-group--incomplete'%}
  {% else %}
    {% set address1Class = ''%}
  {% endif %}
  {% if error.city %}
    {% set cityClass = 'form-group--incomplete'%}
  {% else %}
    {% set cityClass = ''%}
  {% endif %}

  {% if optionalNonUk == 'yes' or optional == 'yes' %}
    {% set address1Label = 'Building and street (optional)' %}
    {% set cityLabel = 'Town or city (optional)' %}
    {% set postcodeLabel = 'Postcode (optional)' %}
  {% else %}
    {% set address1Label = 'Building and street' %}
    {% set cityLabel = 'Town or city' %}
    {% set postcodeLabel = 'Postcode / zipcode' %}
  {% endif %}

  {% if optional == 'yes' %}
    {% set countryLabel = 'Country (optional)' %}
  {% else %}
    {% set countryLabel = 'Country' %}
  {% endif %}

  <fieldset
    class="js-address fieldset--address{% if error %} incomplete{% endif %}"
    data-name="{{name}}"
    data-optional-non-uk="{{ optionalNonUk }}"
    data-optional="{{ optional }}"
    data-error="{{ error.message }}"
  >
    <legend class="heading-medium">{{ label }}</legend>

    {{ textbox(name + '.country', label=countryLabel, value=value.country, class=countryClass) }}
    {{ textbox(name + '.address1', label=address1Label, value=value.address1, class=address1Class) }}
    {{ textbox(name + '.address2', label='', value=value.address2) }}
    {{ textbox(name + '.city', label=cityLabel, value=value.city, class=cityClass) }}
    {{ textbox(name + '.county', label='County / region (optional)', value=value.county) }}
    {{ textbox(name + '.postcode', label=postcodeLabel, value=value.postcode, class="form-group--postcode") }}
  </fieldset>

{% endmacro %}
