.autosuggest__suggestions {
  box-sizing: border-box;
  border: 1px solid $border-colour;
  position: absolute;
  z-index: 99;

  @include media(tablet) {
    width: 66%;
  }

}

.autosuggest__suggestion {
  @include core-19;
  padding: 0 5px;
  background: $white;

  a {
    text-decoration: none;
    color: $black;
  }

  strong {
    @include bold-19;
  }

  &.autosuggest__suggestion--active {
    background: $light-blue-25;
  }

}
