{% macro addAnother(name, label, hint, addLabel='', values=[], error) %}
<fieldset class="fieldset-group js-add-another" id="{{ name }}-wrapper">
  {% if values and values.length > 0 %}
    {% for value in values %}
      {{ textbox(name=name, label=label, hint=hint, value=value, id=(name + '-' + loop.index), class="form-group--compact", error=error) }}
    {% endfor %}
  {% else %}
    {{ textbox(name=name, label=label, hint=hint, value=value, id=(name + '-1'), class="form-group--compact", error=error) }}
  {% endif %}
  <a class="add-another-button" href="#">Add another {{ addLabel }}</a>
</fieldset>
{% endmacro %}
