.sub-group {
  @extend %contain-floats;
  clear: both;
  padding-top: 20px;
  padding-left: 10px;
  border-left: 4px solid $border-colour;
  margin-bottom: $gutter-half;

  @include media(tablet) {
    border-leftwidth: 5px;
    padding-left: 15px;
    margin-bottom: $gutter;
  }

  &.error {
    border-left: 4px solid $error-colour;
    @include media(tablet) {
      border-left-width: 5px;
    }
  }
}
