<!--
| Parameter | Required | Description |
| --------- | -------- | ----------- |
| text      | Y        | The text to show on the button |
| id        | N        | If you wish the button to be assigned an ID pass it here|
| class     | N        | Pass an extra class value to add to the markup, e.g. selected |
| variation | N        | There are a range of different button styles available, which can be passed in this parameter, valid versions include *secondary*, *warning* and *disabled * |
| type      | N        | Used to specify if a button is a 'button' or 'submit' |
-->
{% macro button(text, id, class, variation, type='button') %}
  {% if variation %}
    {% set variation = 'button-' + variation %}
  {% endif %}

    <button class="button {{variation}} {{class}}" id="{{id}}" type="{{button}}">{{text}}</button>

{% endmacro %}
