{% macro address(name, value, label='Address', optionalNonUk='no', optional='no', error) %}

  {% if error.message %}
    <span class="error-message">{{ error.message }}</span>
  {% endif %}

  {% if error.country %}
    error.country: {{ error.country }}
  {% endif %}

  {% if error.country %}
    {% set countryClass = 'form-group--incomplete'%}
  {% else %}
    {% set countryClass = ''%}
  {% endif %}

  {% if error.address1 %}
    {% set address1Class = 'form-group--incomplete'%}
  {% else %}
    {% set address1Class = ''%}
  {% endif %}

  {% if error.city %}
    {% set cityClass = 'form-group--incomplete'%}
  {% else %}
    {% set cityClass = ''%}
  {% endif %}

  {% if optionalNonUk == 'yes' or optional == 'yes' %}
    {% set address1Label = 'Building and street (optional)' %}
    {% set cityLabel = 'Town or city (optional)' %}
    {% set postcodeLabel = 'Postcode (optional)' %}
  {% else %}
    {% set address1Label = 'Building and street' %}
    {% set cityLabel = 'Town or city' %}
    {% set postcodeLabel = 'Postcode / zipcode' %}
  {% endif %}

  {% if optional == 'yes' %}
    {% set countryLabel = 'Country (optional)' %}
  {% else %}
    {% set countryLabel = 'Country' %}
  {% endif %}

  <fieldset
    class="js-address fieldset--address{% if error %} incomplete{% endif %}"
    data-name="{{name}}"
    data-optional-non-uk="{{ optionalNonUk }}"
    data-optional="{{ optional }}"
    data-error="{{ error.message }}"
  >
    <legend class="heading-medium">{{ label }}</legend>

    {{ textbox(name + '.country', label=countryLabel, value=value.country, class=countryClass) }}
    {{ textbox(name + '.address1', label=address1Label, value=value.address1, class=address1Class) }}
    {{ textbox(name + '.address2', label='', value=value.address2) }}
    {{ textbox(name + '.city', label=cityLabel, value=value.city, class=cityClass) }}
    {{ textbox(name + '.county', label='County / region (optional)', value=value.county) }}
    {{ textbox(name + '.postcode', label=postcodeLabel, value=value.postcode, class="form-group--postcode") }}
  </fieldset>

{% endmacro %}
