<form>
  {{ forms.autocomplete('advisor',
    label="Advisor",
    value=advisor,
    options=advisors,
    error=errors.advisor
  ) }}

  {{ forms.autocomplete('helper',
    label="Helper",
    value=helper,
    error=errors.helper,
    options_url="/lookup?query="
  ) }}

  {{ forms.addAnotherAutocomplete('countryOfInterest',
    label="Country",
    addLabel="Add country",
    values=countryOfInterest,
    options=countryOptions,
    error=errors.countryOfInterest
  ) }}


  {{ forms.autocomplete('interactionContactId',
    label="Contact",
    value=interactionContactId,
    options=contacts,
    error=error.interactionContactId
  ) }}



  {{ forms.save(backUrl="#") }}
</form>
