{% extends "gallery_template.html" %}
{% import "macros/trade.html" as trade %}

{% block main %}
<a class="back-link" href="/">Back</a>

<h1 class="heading-xlarge">Back link</h1>
<section>
  <p>A simple link to back to the previous page. This is not a breadcrumb. An example is shown above the heading here.</p>
  <div class="html">
    <h3 class="heading-medium">HTML</h3>
    <pre><code class="language-markup">&lt;a class="back-link" href="/">Back&lt;/a></code></pre>
  </div>
</section>

{% endblock %}
