{% extends "gallery_template.html" %}
{% import "macros/trade.html" as trade %}

{% block content %}

  <h1 class="heading-xlarge">Trade Elements gallery</h1>

  {{ trade.searchbar('query', label="Search companies and contacts", value="") }}

  <div class="tabs tabs--inline js-tabs">
    <div id="tab-error-textfields" class="tabs-errors">
      {{ trade.errorPanel(errors) }}
    </div>
    <nav class="tabs-nav">
      <ul class="tabs-list">
        <li>
          <a class="is-selected" id="tab-textfields" href="#tab-content-textfields">Text fields</a>
        </li>
        <li>
          <a id="tab-dropdown" href="#tab-content-dropdown">Dropdowns</a>
        </li>
        <li>
          <a id="tab-radio" href="#tab-content-radio">Radio</a>
        </li>
        <li>
          <a id="tab-other" href="#tab-content-other">Other</a>
        </li>
      </ul>
    </nav>
    <div class="tabs-content">
      <div id="tab-content-textfields" class="tabs-panel">
        <div class="tabs-panel-inner">{% include "textbox.html" %}</div>
      </div>

      <div id="tab-content-dropdown" class="tabs-panel">
        <div class="tabs-panel-inner">{% include "dropdown.html" %}</div>
      </div>
      <div id="tab-content-radio" class="tabs-panel">
        <div class="tabs-panel-inner">{% include "radio.html" %}</div>
      </div>
      <div id="tab-content-other" class="tabs-panel">
        <div class="tabs-panel-inner">{% include "other.html" %}</div>
      </div>
    </div>

  </div>


{% endblock %}
