{% extends "layouts/ukti_template.html" %}
{% import "macros/trade.html" as trade %}
{% block service_name %}Trade Elements{% endblock %}

{% block head_styles %}
  <!-- This is a test -->
  <link href="{{ asset_path | default('/') }}css/gallery.css" media="screen" rel="stylesheet" />
  <link href="{{ asset_path | default('/') }}themes/prism-okaidia.css" media="screen" rel="stylesheet" />
{% endblock %}


{% set proposition_title="Trade Elements" %}
{% set proposition_url="/" %}

{% set homepage_url = "/" %}
{% set logo_link_title = "Go to Trade Elements homepage" %}


{% block after_proposition %}
  {% set searchbarType = "header" %}
  {{ trade.searchbar('query', label="Search companies and contacts", value="", type="header") }}
{% endblock %}

{% block phasebanner %}
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">Alpha</strong>
      <a href="https://github.com/UKTradeInvestment/trade-elements">Github project</a>
      | <a href="https://www.npmjs.com/package/trade-elements">NPM Module</a>
    </p>
  </div>
{% endblock %}

{% block content %}
  <div class="container grid-row">
    <div id="left-menu">
      <nav>
        <a href="/backlink">Back link</a><br/>
        <a href="/button">Button</a><br/>
        <a href="/date">Date</a><br/>
        <a href="/dropdown">Dropdown</a><br/>
        <a href="/errorpanel">Error panel</a><br/>
        <a href="/flashmessages">Flash message</a><br/>
        <a href="/horizontaltabs">Horizontal tabs</a>
      </nav>
    </div>
    <div id="main-content">
      {% block main %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block body_end_scripts %}
  <script src="/prism.js"></script>
{% endblock %}
