{% extends "gallery_template.html" %}
{% import "macros/trade.html" as trade %}

{% block main %}
<h1 class="heading-xlarge">Headings</h1>
<section>
  <p>Pre and Post header styles for additional header information.</p>
  <div class="example">
    <h2 class="heading-xlarge">
      <span class="pre-header">Company ref: 1234</span>
      Some great company
      <span class="post-header">10 the address, town, county, OP4 4PO</span>
    </h2>
  </div>
  <div class="html">
    <h3 class="heading-medium">HTML</h3>
    <pre><code class="language-markup">&lt;h1 class="heading-xlarge">
  &lt;span class="pre-header">Company ref: 1234&lt;/span>
  Some great company
  &lt;span class="post-header">10 the address, town, county, OP4 4PO&lt;/span>
&lt;/h1></code></pre>
  </div>
</section>
{% endblock %}
