{% extends "trade.html" %}
{% import "macros/forms.html" as forms %}
{% import "macros/search.html" as search %}

{% block main %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Trade elements
      </h1>

      <p class="lede">
        This guide shows how to make your service look consistent 'Great' and 'GOV.UK' style websites
        at the Department of International Trade. The 'Trade Elements' toolkit builds upon and extends
        <a href="http://govuk-elements.herokuapp.com/">GOV.UK Elements</a>. This guide only documents
        elements added by Department of Trade.  A 'How To Use' guide will follow shortly.
      </p>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/gallery/forms">Form elements</a></h2>
      <p>Form fields, labels, focus states, radio buttons, checkboxes.</p>
    </div>
  </div>
{% endblock %}
