{% extends "gallery_template.html" %}
{% import "macros/trade.html" as trade %}

{% block main %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Trade elements
      </h1>

      <p class="lede">
        This guide shows how to make your service look consistent 'Great' and 'GOV.UK' style websites
        at the Department of International Trade. The 'Trade Elements' toolkit builds upon and extends
        <a href="http://govuk-elements.herokuapp.com/">GOV.UK Elements</a>. This guide only documents
        elements added by Department of Trade.  A 'How To Use' guide will follow shortly.
      </p>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/backlink">Back link</a></h2>
    </div>
    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/button">Button</a></h2>
    </div>
    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/error">Error</a></h2>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/date">Date</a></h2>
    </div>
    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/dropdown">Dropdown</a></h2>
    </div>
    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/errorpanel">Error panel</a></h2>
    </div>
  </div>
{% endblock %}
