{% extends "gallery_template.html" %}
{% import "macros/trade.html" as trade %}

{% block top_menu %}
{{ trade.searchbar("search", label="Search", value="fred", type="header" ) }}
{% endblock %}


{% block main %}
  <h1 class="heading-xlarge">Search bar</h1>
  <section>
    <p>A Google like search bar. This control has two 'types', it can either be a regular searchbar displayed
    below, or a 'header' searchbar which is suited to use in the GDS style header, and is more compact.</p>
    <div class="example">
      {{ trade.searchbar("search", label="Search", value="fred") }}
    </div>
    <div class="html">
      <h3 class="heading-medium">HTML</h3>
      <pre><code class="language-markup">&lt;form class="searchbar" action="/search" method="get" role="search">
  &lt;div class="searchbar__wrapper">
    &lt;label class="searchbar__label" for="search-term">Search for company name or contact&lt;/label>
    &lt;input class="searchbar__input form-control" id="search-term" type="search" name="term" value="" placeholder="Search for company name or contact">
    &lt;input class="searchbar__submit" type="submit" value="Search">
  &lt;/div>
&lt;/form></code></pre>
    </div>
    <div class="nunjucks">
      <h3 class="heading-medium">Nunjucks Macros</h3>
      <pre><code class="language-twig">{% raw %}{{ trade.searchbar("search", label="Search", value="fred") }}{% endraw %}</code></pre>
      <table>
        <thead>
        <tr>
          <th>Parameter</th>
          <th>Required</th>
          <td>Description</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>name</td>
          <td>Y</td>
          <td>The url to use for the cancel button</td>
        </tr>
        <tr>
          <td>label</td>
          <td>Y</td>
          <td>A label to use to indicate what the search field is for, note that this is hidden from view and rendered solely for the purpose of accessibility</td>
        </tr>
        <tr>
          <td>value</td>
          <td>N</td>
          <td>An existing value to populate the search field is there is one, e.g. the user has landed on a results page, show the current term</td>
        </tr>
        <tr>
          <td>type</td>
          <td>N</td>
          <td>By default the search bar is styled for use in the main part of the page, optionally the developer can pass a value of 'header' to
            mutate the style to suit usage in a compact space such as the header.</td>
        </tr>
        <tr>
          <td>action</td>
          <td>N</td>
          <td>The action attribute for the search form, this is a url. If no value is specified then '/search' is used.</td>
        </tr>
        <tr>
          <td>submitLabel</td>
          <td>N</td>
          <td>A text label for the search button, this defaults to 'Search'</td>
        </tr>

        </tbody>
      </table>
    </div>
  </section>

{% endblock %}
