{% extends "layouts/ukti_template.html" %}
{% import "macros/search.html" as search %}
{% import "macros/utils.html" as utils %}

{% set proposition_title="Trade Elements" %}
{% set proposition_url="/" %}

{% set homepage_url = "/" %}
{% set logo_link_title = "Go to Trade Elements homepage" %}


{% block after_proposition %}
  {% set searchbarType = "header" %}
  {{ search.searchbar('query', label="Search companies and contacts", value="", type="header") }}
{% endblock %}

{% block head %}
  {{ utils.trade_styles() }}
{% endblock %}

{% block phasebanner %}
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">Alpha</strong>
      <a href="https://github.com/UKTradeInvestment/trade-elements">Github project</a>
      | <a href="https://www.npmjs.com/package/trade-elements">NPM Module</a>
    </p>
  </div>
{% endblock %}

{% block content %}
    <div class="container">
      {% block main %}{% endblock %}
    </div>
{% endblock %}

{% block body_end %}
  {{ utils.trade_scripts() }}
{% endblock %}
