.fieldvalue {
  @extend %contain-floats;
  margin: 0;

  .fieldvalue__title {
    clear: left;
    float: left;
    font-weight: 700;
    margin: 0 10px 0 0;
  }

  .fieldvalue__value {
    float: left;
  }
}
