table tr:nth-child(even) {
  th,
  td {
    background: $grey-4;
  }
}

table.data-table thead tr {
  th {
    cursor: pointer;

    &.desc {
      &:after {
        content: "\00a0\00a0\25BC";
      }
    }
    &.asc {
      &:after {
        content: "\00a0\00a0\25B2";
      }
    }
  }
}
