.table-detail {

  margin-bottom: em(22);

  tbody {
    th {
      vertical-align: top;
      width: 40%;

      @include media(tablet) {
        width: 30%;
        white-space: nowrap;
      }

    }

    td:first-letter {
      text-transform: capitalize;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.table-detail--readonly {

  margin-top: 20px;
  border-left: 10px solid $grey-2;

  tbody {
    tr {
      td,
      th {
        border-bottom: 1px solid $grey-2;
        color: $grey-1;
      }

      th {
        padding-left: 15px;
      }

      &:nth-child(even) {
        td,
        th {
          background: $white;
        }
      }

      &:last-child {
        td,
        th {
          border-bottom: 0;
        }
      }

      .spacer {
        border-bottom: 0;
        padding-right: 5px;
      }
    }
  }
}

.record-title {
  position: relative;
}
