.searchbar {

  .searchbar__wrapper {
    margin: 20px 0 25px;
    position: relative;
    background: $white;

    @include media(tablet) {
      margin: 30px 0;
    }
  }

  .searchbar__label {
    display: none;
  }

  .searchbar__input {
    box-sizing: border-box;
    font-size: em(19);
    width: 100%;
    padding: 6px 15px;
    margin: 0;
    z-index: 3;
    background: transparent;
    position: relative;
    border-right: 0;
    line-height: 34px;
    border-radius: 0;
    -webkit-appearance: none;
    text-overflow: ellipsis;
  }

  .searchbar__submit {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    border: 0;
    text-indent: -5000px;
    color: $white;
    cursor: pointer;
    background: $govuk-blue url('/images/search-button.png') no-repeat 8px 50%;
    border-radius: 0;
  }
}

.searchbar.searchbar--header {
  width: 90%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;

  @include media(tablet) {
    float: right;
    width: 50%;
  }

  .searchbar__wrapper {
    margin: 0;
  }

  .searchbar__input {
    border: 0;
    font-size: em(16);
    line-height: 22px;
  }

  .searchbar__submit {
    background-position: 0 50%;
    border-left: 1px solid $black;
    width: 34px;
  }

}
