.table--key-value {

  margin: 20px 0;

  tbody {
    th {
      vertical-align: top;
      width: 40%;

      @include media(tablet) {
        width: 30%;
      }
    }

    td:first-letter {
      text-transform: capitalize;
    }

    tr:first-child {
      td,
      th {
        border-top: 1px solid $border-colour;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.table--readonly {

  border-left: 10px solid $border-colour;

  tbody {

    display: block;
    padding: 0 0 0 10px;

    tr {
      td,
      th {
        border-bottom: 1px solid $border-colour;
        color: $black;
      }

      th {
        padding-left: 15px;
      }



      &:last-child {
        td,
        th {
          border-bottom: 0;
        }
      }

      .spacer {
        border-bottom: 0;
        padding-right: 5px;
      }
    }
  }
}

.table--striped {
  tr:nth-child(odd) {
    background: $highlight-colour;
  }
}

.table--sortable thead tr {
  th {
    cursor: pointer;

    &.table--sortable__sort-desc {
      &:after {
        content: "\00a0\00a0\25BC";
      }
    }
    &.table--sortable__sort-asc  {
      &:after {
        content: "\00a0\00a0\25B2";
      }
    }
  }
}
