{% macro keyvaluetable(data, readonly, stripey, labels, class="", id, keyorder) %}

{% set className = "table--key-value " + class %}

{% if stripey == true %}
  {% set className = className + ' table--striped' %}
{% endif %}

{% if readonly == true %}
  {% set className = className + ' table--readonly' %}
{% endif %}

{% if not keyorder %}
  {% set keyorder = data | keys %}
{% endif %}
<table class="{{ className }}" id="{{ id }}">
  <tbody>
    {% for key in keyorder %}
      {% if labels and labels[key] %}
        {% set forLabel = labels[key] %}
      {% else %}
        {% set forLabel = key %}
      {% endif %}

      {% if data[key] | hasValue %}
        <tr>
          <th>{{ forLabel }}</th>
          <td>{{ data[key] | cellValue | safe }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endmacro %}

{% macro datatable(data, stripey, headings, class="", id, columnorder) %}
  {% set className = "table--data table--sortable js-table--sortable " + class %}

  {% if stripey == true %}
    {% set className = className + ' table--striped' %}
  {% endif %}

  {% set headData = data[0] %}

  {% if not columnorder %}
    {% set columnorder = headData | keys %}
  {% endif %}

  <table class="{{ className }}" id="{{ id }}">
    <thead>
      <tr>
        {% for key in columnorder %}
          <th data-key="{{ key }}">
            {% if headings and headings[key] %}
              {{ headings[key] }}
            {% else %}
              {{ key }}
            {% endif %}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for record in data %}
        <tr>
          {% for key in columnorder %}
            <td>{{ record[key] | safe }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}
