{% macro addAnotherAutocomplete(name, label, addLabel='', values=[], options, options_url, error) %}
  <fieldset class="fieldset-group js-add-another{% if error %} error{% endif %}" id="{{ name }}-wrapper">
    {% if values and values.length > 0 %}
      {% for value in values %}
        {{ autocomplete(name, label, value, options, options_url, id=(name + '-' + loop.index), class="form-group--compact") }}
      {% endfor %}
    {% else %}
      {{ autocomplete(name, label, value, options, options_url, id=(name + '-1'), class="form-group--compact") }}
    {% endif %}
    <a class="add-another-button" href="#">Add another {{ addLabel }}</a>
  </fieldset>
{% endmacro %}
